// @import 'yoga';
// @import 'normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';

// colors
$c-background: #fcfcf2;
$c-secondary: #fff;
$c-pop: #87d7ff;
$c-black: #000;

// fonts
$font-primary: 'Fresca', sans-serif;

//margins
$m-gutter: 1rem;

@import 'box-sizing';
@import 'resets';
@import 'footer';

body {
  background-color: $c-background;
}

.banner {
  font-family: 'Fresca', sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.main-card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 40vh;
  margin-top: $m-gutter * 8;
  padding: $m-gutter;
  border-radius: 2px;
  background-color: $c-secondary;
  box-shadow: 2px 2px 10px $c-black;
}

.directions {
  font-family: $font-primary;

  &__step {
    font-size: 1.5rem;
  }
}

input {
  height: 3rem;
  padding: $m-gutter;
  border: 2px solid $c-black;
  border-radius: 2px;
  border-color: $c-pop;
  font-family: $font-primary;
  font-size: 1rem;
}
